@import "colors";

footer {
    width: 100%;
    background-color: $black-part;
    color: $white-part;
    text-align: center;
    padding: 30px 0;
    position: absolute;
    bottom: 0; //下に固定
}

ul.footer-menu {
    padding: 0;
    a {
        margin: 0 3vw;
        color: $white-part;
    }
}