@import "colors";

.navbar {
    background-color: $black-part !important;
    // "検索"ボタン
    .btn:hover, .btn:focus,
    .btn:active, .btn:active:focus, .btn:active:hover, .btn:active.focus,
    .btn.active, .btn.active:focus, .btn.active:hover, .btn.active.focus,
    .open > .dropdown-toggle.btn,
    .open > .dropdown-toggle.btn:hover,
    .open > .dropdown-toggle.btn:focus,
    .open > .dropdown-toggle.btn.focus,
    .btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled] .btn:hover,
    .btn.disabled:focus, .btn[disabled]:focus, fieldset[disabled] .btn:focus,
    .btn.disabled.focus, .btn[disabled].focus, fieldset[disabled] .btn.focus {
        background: $brand-color !important; //ボタンの上にポインタを持ってきたり、クリックしたりした時の背景色
        color: $white-part !important; //ボタンの上にポインタを持ってきたり、クリックしたりした時のテキストの色
    }

    .btn-outline-success {
        color: $brand-color !important;
        border-color: $brand-color !important;
    }
}

