body {
  background-color: #fbf4f9;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
.wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 120px;
  box-sizing: border-box;
}
.navbar {
  background-color: #272121 !important;
}
.navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn:active:focus, .navbar .btn:active:hover, .navbar .btn:active.focus, .navbar .btn.active, .navbar .btn.active:focus, .navbar .btn.active:hover, .navbar .btn.active.focus, .navbar .open > .dropdown-toggle.btn, .navbar .open > .dropdown-toggle.btn:hover, .navbar .open > .dropdown-toggle.btn:focus, .navbar .open > .dropdown-toggle.btn.focus, .navbar .btn.disabled:hover, .navbar .btn[disabled]:hover, .navbar fieldset[disabled] .btn:hover, .navbar .btn.disabled:focus, .navbar .btn[disabled]:focus, .navbar fieldset[disabled] .btn:focus, .navbar .btn.disabled.focus, .navbar .btn[disabled].focus, .navbar fieldset[disabled] .btn.focus {
  background: #f98903 !important;
  color: #fff !important;
}
.navbar .btn-outline-success {
  color: #f98903 !important;
  border-color: #f98903 !important;
}
footer {
  width: 100%;
  background-color: #272121;
  color: #fff;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}
ul.footer-menu {
  padding: 0;
}
ul.footer-menu a {
  margin: 0 3vw;
  color: #fff;
}
