footer {
  width: 100%;
  background-color: #272121;
  color: #fbf4f9;
  text-align: center;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
}
ul.footer-menu {
  padding: 0;
}
ul.footer-menu a {
  margin: 0 3vw;
  color: #fbf4f9;
}
