.navbar {
  background-color: #45454d !important;
}
.navbar .btn:hover, .navbar .btn:focus, .navbar .btn:active, .navbar .btn:active:focus, .navbar .btn:active:hover, .navbar .btn:active.focus, .navbar .btn.active, .navbar .btn.active:focus, .navbar .btn.active:hover, .navbar .btn.active.focus, .navbar .open > .dropdown-toggle.btn, .navbar .open > .dropdown-toggle.btn:hover, .navbar .open > .dropdown-toggle.btn:focus, .navbar .open > .dropdown-toggle.btn.focus, .navbar .btn.disabled:hover, .navbar .btn[disabled]:hover, .navbar fieldset[disabled] .btn:hover, .navbar .btn.disabled:focus, .navbar .btn[disabled]:focus, .navbar fieldset[disabled] .btn:focus, .navbar .btn.disabled.focus, .navbar .btn[disabled].focus, .navbar fieldset[disabled] .btn.focus {
  background: #f185b3 !important;
  color: #fff !important;
}
.navbar .btn-outline-success {
  color: #f185b3 !important;
  border-color: #f185b3 !important;
}
